/* https://stackoverflow.com/questions/39926080/fix-width-of-one-column-in-a-row-in-semantic-ui */
/* Fix for the sui grid to support fixed column */
.menu-column {
    flex: 0 0 250px;
}

.data-content {
    width: calc(100vw - 275px);
}

.doc-textarea {
    width: calc(100% - 150px);
    border: none;
    outline: none;
    font-family: monospace;
    min-height: 100px;
}

.doc-textarea-default {
    cursor: pointer;
}

.doc-textarea-selected {
    cursor: text;
}

.doc-textarea-modified {
    color: green;
}

.doc-segment-default:hover .doc-textarea-default, .doc-segment-default:hover {
    background-color: #e6e6e6;
}

/* .doc-segment:hover .doc-textarea, .doc-segment:hover {
    background-color: #e6e6e6;
}

.doc-textarea:focus {
    color: green;
} */
